@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #ffffff;
  --BORDER-COLOR: #000000;
  --COLOR: #000000;
  --ERROR: firebrick;
  --INACTIVE: rgb(125, 125, 125);
  --LINK-COLOR: rgb(49, 49, 49);
  --LINK-HOVER: rgb(48, 40, 62);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: white;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-attachment: fixed;
  background-size: cover;
  background-position: top right;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ ";
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 1em 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  ORDER */
.order-info-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.order-info-container > div {
  border: 1px solid white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.order-info-container > div > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hint {
  font-style: italic;
  color: gray;
  border: 1px dashed gray;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.add-order-form-container form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 5px;
}

.blocks {
  padding: 20px;
  border: 1px solid white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.buttons > * {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.buttons > *:hover {
  background-color: black;
  color: white;
}

.buttons > *:visited {
  background-color: white;
  color: navy;
}

.button {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:visited {
  background-color: white;
  color: navy;
}

.button.error {
  background-color: var(--ERROR);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid red;
  outline: 1px solid red;
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block;
  }

  .form__action-buttons {
    position: static;
  }
}

.edit-order-form {
  display: flex;
  flex-direction: column;
  margin: 2vh 10vw;
  gap: 10px;
}

.edit-order-form > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-order-form > div > h4 {
  text-decoration: underline;
}

.edit-order-form > div > div {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.gap10 {
  gap: 10px;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.round-border {
  border-radius: 10px;
}

.mb {
  margin-bottom: 10px;
}

.mt {
  margin-top: 10px;
}

.mr {
  margin-right: 20px;
}

.m {
  margin: 10px;
}

.p {
  padding: 10px;
}

.py {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dash-header__nav > * {
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
}

.dash-header__nav > *:hover {
  border: 1px solid black;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.border {
  border: 1px solid white;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px 2px;
}

.orders-grid > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 2px;
}

#hintDisplay {
  position: fixed;
  display: flex;
  width: 110vw;
  height: 100vh;
  left: -10px;
  top: -10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#hintDisplay > div {
  background-color: white;
  padding: 50px;
  text-align: left;
  border-radius: 20px;
}

#hintDisplay > div > div {
  margin-top: 10px;
  margin-bottom: 20px;
}

#hintDisplay > div > div > h4 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 5px;
}

.hidden {
  display: none !important;
}

.order-finished {
  background-color: rgba(119, 241, 174, 0.322);
}

.order-unfinished {
  background-color: rgba(0, 0, 0, 0.129);
}

.report-container {
  overflow-x: auto;
  white-space: nowrap;
  display: grid;
}

.report-container > div:first-child,
.report-container > div:last-child {
  display: grid;
  /* grid-template-columns: repeat(18, 250px); */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(18, minmax(250px, 1fr));
  grid-auto-rows: minmax(40px, auto);
  align-items: center;
  /* text-align: center; */
}

.report-container > div:first-child > * {
  word-wrap: break-word;
}

.report-container > div:nth-child(2) > div {
  display: grid;
  grid-template-columns: repeat(18, 250px);
  padding: 10px 30px;
  margin: 5px 0px;
}

.report-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30vh;
}

.garah-huudas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.garah-huudas > div {
  width: 40vw;
  border: 1px solid black;
  padding: 10px 5vw;
}

.garah-huudas > div > h3 {
  text-align: center;
}

.garah-huudas > div > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.garah-huudas > div > div > * {
  flex: 1;
}

.garah-huudas p {
  border: 1px dashed black;
  width: 400px;
  text-align: right;
  padding: 5px 2px;
}

.report-daily-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.report-daily-grid > div {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.report-monthly-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.report-monthly-grid > div {
  display: grid;
  grid-template-columns: repeat(2, 150px);
}

.stats-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 200px);
  gap: 10px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
}

.stats-grid > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.stats-grid > div > *:last-child {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 56px;
  z-index: 10;
  background-color: white;
  transition: 0.1s;
  overflow: auto;
}

.span-hint {
  color: var(--INACTIVE);
  font-style: italic;
}

.state-title {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.state-title > span {
  background-color: lightgray;
  padding: 10px 4vw;
}

.state-title.entered > span:nth-child(1) {
  background-color: rgb(214, 255, 214);
}

.state-title.entered > span:nth-child(2) {
  background-color: lightgray;
}

.state-title.tookBill > span:nth-child(1) {
  background-color: rgb(214, 255, 214);
}

.state-title.tookBill > span:nth-child(2) {
  background-color: rgb(175, 236, 175);
}

.state-title.paid > span:nth-child(1),
.state-title.paid > span:nth-child(2) {
  background-color: rgb(214, 255, 214);
}

.state-title.paid > span:nth-child(3) {
  background-color: rgb(175, 236, 175);
}

.state-title.left > span:nth-child(1),
.state-title.left > span:nth-child(2),
.state-title.left > span:nth-child(3) {
  background-color: rgb(214, 255, 214);
}

.state-title.left > span:nth-child(4) {
  background-color: rgb(175, 236, 175);
}

.state-title > span:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.state-title > span:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.not-selectable {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.pointer.inactive {
  color: rgba(0, 0, 0, 0.4);
}

.orders-print {
  display: grid;
}
