body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.small,
.small * {
  font-size: 1px;
}

.smaller {
  font-size: 20px;
}

.orders {
  border: 1px solid black;
  padding: 10px;
}

.users {
  border: 1px solid black;
  padding: 10px;
}
